.hero-img{
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 90vh;
    position: relative;
}

.heading{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-img{
    content: empty;
    background-size:cover;
    background-position: center top;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.hero-img h1{
    font-size: 2.4rem;
}

.hero-img p{
    font-size: 1.4rem;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .hero-img h1{
        font-size: 2rem;
    }
    .hero-img p{
        text-align: center;
        justify-content: center;
    }
}