.skill-container{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 40px;
    padding: 40px;
    gap: 20px;
}

.skill-img img{
    width: 80px;
    height: 80px;
    border-radius: 60%;
    object-fit: cover;
}

.distance{
    margin-left: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 1040px) {
    .skill-img{
        text-align: center;
        justify-content: center;

    }
    /* .distance-responsive{
        margin-left: 10px !important;
    } */
}